@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.header {
  font-weight: bold;
}

input[type="text"] {
  width: 205px;
  height: 25px;
}

input[type="email"] {
  width: 205px;
  height: 25px;
}

input[type="password"] {
  width: 205px;
  height: 25px;
}

input[type="password_confirmation"] {
  width: 205px;
  height: 25px;
}

/* typography */

h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 16px;
  margin-bottom: 0px;
  margin-left: 10px;
  background-color:  #FFF;    /* 背景色指定 */
  height: 100px;              /* 高さ指定 */
  width: 459px;               /* 幅指定 */
  padding: 25px 0px 30px 10px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-top:-250px;
  text-align: center;
  margin-left: 480px;
}

h3 {
  font-size: 45px;
  margin-left: 200px;
  height: 100px;              /* 高さ指定 */
  padding: 40px 0px 30px 17px;
}

h4 {
  font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h5 {
  font-size: 1.2em;
  letter-spacing: -1px;
  text-align: center;
}

h6 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-left: 510px;
}

.h2 {
  font-size: 2em;
  letter-spacing: 1px;
  margin-top:-250px;
  text-align: center;
  margin-left: 480px;
}

.h7 {
  font-size: 1.4em;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-align: center;
}

.h8 {
  font-size: 1em;
  letter-spacing: 1px;
  text-align: center;
}

.h9 {
  font-size: 3em;
  letter-spacing: 25px;
  width: 70%;
  height: 60px;
  margin: auto;
  text-align: center;
  margin-top: 40px;
}

.h10 {
  font-size: 25px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.h11 {
  font-size: 1em;
  letter-spacing: 1px;
  margin-bottom: 5px;
  text-align: center;
}


.login {
  margin-top:-190px;
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-left: 700px;
  font-weight: normal;
  color: #777;
}

.AAA  {
  width: 100px;
  margin-left: 80px;
  margin: 0px 0px 0px 150px;
  display: inline-block;
}

.Lexpense {
  width: 400px;
  height: 80px;
  margin: auto;
  text-align: center;
  margin-bottom: -2px;
  margin-top: 20px;
}

.Rexpense {
  width: 300px;
  height: 60px;
  margin: auto;
  text-align: center;
  margin-top: 30px;
  margin-bottom: -10px;
  background-color:  #D7EEFF;    /* 背景色指定 */
  border: 1px solid;
  border-collapse: separate;
}

.expensebody {
  width: 700px;
  height: 30px;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color:  #D7EEFF;    /* 背景色指定 */
  border: 1px solid;
  border-collapse: separate;
}

//.expensebody2 {
//  //background-color:  #D7EEFF;    /* 背景色指定 */
//}

//.expensebody3 {
//  //background-color:  #FFFF;    /* 背景色指定 */
//}

.expense_table {
  width: 40%;
  height: 5px;
  margin: auto;
  display: table;
  border: 1px solid;
  border-collapse: separate;
  //background-color: primary;    /* 背景色指定 */
  //border: 1px #2b2b2b ridge;
}

.expenserequest {
  width:  700px;
  height: 30px;
  margin: auto;
  text-align: left;
  padding:6px 5px;
  margin-top: 10px;
  border-color: #FADBDA;
  color:#FA817D;
  background-color:  #FADBDA;    /* 背景色指定 */
  border-radius: 5px;
}

.expenserequest:hover {
  color: #F04848;
  text-decoration: none;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.modal-dialog-center {
  padding-top: 10%;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fffb;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}